# Test UnisynParse 2021-10-28 at 20:50:01

name: Test

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        ref: 'main'

    - name: Download other repos
      run: |
        curl -sL https://github.com/philiprbrenan/NasmX86/archive/refs/heads/main.zip       > NasmX86.zip
        curl -sL https://github.com/philiprbrenan/DataTableText/archive/refs/heads/main.zip > DataTableText.zip
        curl -sL https://github.com/philiprbrenan/AsmC/archive/refs/heads/main.zip          > AsmC.zip
        ls -la NasmX86.zip DataTableText.zip AsmC.zip
        tree
        unzip NasmX86
        unzip DataTableText
        unzip AsmC
        tree
        cp -R NasmX86-main/* .
        cp -R DataTableText-main/* .
        cp -R AsmC-main/* .
        tree

    - name: Install Nasm
      run: |
        sudo apt-get install -y nasm

    - name: Install Intel Sde
      run: |
        tar -xf sde.tar.bz2
        mv sde-external-8.63.0-2021-01-18-lin/ sde/
        tree

    - name: Test
      run: |
        perl -Ilib lib/Unisyn/Parse.pm
